.vercel
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyx
*.pxd
*.c
*.so
*.o
*.obj
*.dll
*.lib
*.exp
*.suo
*.ncb
*.sdf
*.pdb
*.idb
*.tlog
*.vspscc
*.vssscc
*.vsdf
*.vsmdi
*.vspscc
*.vssscc
*.vsdf
*.vsmdi
*.vspscc
*.vssscc
*.vsdf
*.vsmdi
*.vspscc
*.vssscc
*.vsdf